.container-login{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-login h1{
    color: #DD1A1A;
    font-size: 40px;

}
.container-login p{
    margin-bottom: 30px;

}
.container-login form{
    width: 400px;
    height: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.234);
}
.container-login form input{
    width: 70%;
    height: 100%;
    outline: none;
    border: none;
    padding: 5px;
}
.container-login form button{
    width: 30%;
    height: 100%;
    border: none;
    cursor: pointer;
    background: #DD1A1A;
    color: white;
}

.cont-1{
    position: relative;
    width: 100vw;
    height: 10vh;
    background: #DD1A1A;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cont-2{
    width: 100vw;
    height: 4vh;
    background: black;
}
.circle-p{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-h{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

@media screen and (max-width:450px ){
    .container-login h1{
        font-size: 28px;
    }
    .container-login form{
        width: 90vw;
        height: 30px;
    }
    .container-login img{
        width: 90vw;
    }
}