.container-info-pokedex{
    width: 100%;
    height: auto;
    padding: 0px 80px;
}
.container-info-pokedex p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}
.container-info-pokedex p span{
    color: #DD1A1A;
}

.container_info-list-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-info-pokedex .cont-inp-selec{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
}
.cont-inp-selec form{
    width: 65%;
    height: 40px;
    box-shadow: 0px 0px 3px #0000004a;
    margin-right: 50px;
}
.cont-inp-selec form input{
    width: 70%;
    height: 40px;
    outline: none;
    padding: 0px 10px;
    border: none;
}
.cont-inp-selec form button{
    width: 30%;
    height: 40px;background: #DD1A1A;
    color: white;
    border: none;
    cursor: pointer;
}
.cont-selec{
    width: 30%;
    height: 40px;
}
.cont-selec select{
    width: 100%;
    height: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: 0px 0px 2px #00000064;
    padding-left: 10px;
}
.cont-selec select option{
    padding: 5px 0px;
    color: #000000;
}

@media screen and (max-width:450px ){
    .container-info-pokedex{
        padding: 0px 10px;
    }
    .container-info-pokedex p{
        text-align: center;
    }
    .cont-inp-selec{
        flex-direction: column;
        width: 90vw;
    }
    .cont-inp-selec form{
        width: 100%;
        margin-bottom: 20px;
    }
    .cont-selec{
        width: 100%;
    }
    .cont-selec select option{
        padding: 5px 0px;
        width: 90vw;
    }

}